/* .users {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users table {
  width: 1000px;
}

.users thead {
  background-color: #5d87ff;
  color: white;
}

.users td {
  text-align: center;
} */
